# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Data files (optional – if large)
data/*.csv

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test cache
.pytest_cache/

# IDEs
.vscode/
.idea/
